<div class="menu-bar__container">

  <div class="menu-bar__logo">
    <img src="assets/ps-logo.png" alt="playstation_logo" srcset="" width="140px" height="32px">
  </div>

  <div class="menu-bar__item">

    <ul>
      <li><a href="https://www.linkedin.com/in/caio-augusto-lima-de-carvalho-8bb109196/">Linkedin</a></li>
      <li><a href="https://github.com/caioaugustolima">Github</a></li>
      <li><a href="https://www.instagram.com/caioaugustolima/">Instagram</a></li>
    </ul>

  </div>

</div>
